mat-vertical-stepper {
    background-color: rgba(87, 119, 131, 0.4);
}

mat-horizontal-stepper {
    background-color: rgba(87, 119, 131, 0.4);
}

h1 {
    text-decoration: underline;
    text-decoration-color: #ff9900;
}

#timeline_container{
    padding-top: 20px;
}