<mat-card class="primary">
    <mat-card-header>
        <div mat-card-avatar>
            <mat-icon>info</mat-icon>
        </div>
        <mat-card-title>1. Summary</mat-card-title>   
    </mat-card-header>

    <mat-card-content>
        <h3>1.1 What is Virtual Survivor?</h3>
        <p>
            Welcome to <span>Virtual Survivor</span>, a social game for terrible people. <br><br>
            Based off of the popular reality TV show by CBS, <span>Survivor</span>, this is a social game involving various challenges and games, relationship building, alliance forming, and backstabbing.
            Specifically, this is a virtual adaptation of <span>Survivor</span>, aiming to recreate all the main aspects of the show through your browser so that anyone can play from anywhere!
        </p>
        <h3>1.2 Acknowledgements</h3>
        <p>
            This game was created by:
        </p>
        <ul>
            <li><span>Joseph [Joseph#2844]</span> (Game Designer)</li>
            <li><span>Thomas [Spyral#9645]</span> (Game Designer, Game Developer)</li>
            <li><span>Isaac [IZeke#2190]</span> (Game Designer)</li>
            <li><span>JJ [Sir Cartier#8906]</span> (Game Developer)</li>
        </ul>
        <p>
            If you have any questions about how to play the game, or if you have a problem or suggestion about the web application, pease do not hesitate to contact one of the game creators.
        </p>
            
    </mat-card-content>
</mat-card>

<mat-card class="secondary">
    <mat-card-header>
        <div mat-card-avatar>
            <mat-icon>settings</mat-icon>
        </div>
        <mat-card-title>2. Game Setup</mat-card-title>
        <mat-card-subtitle>Number of Players, Prizes, Discord</mat-card-subtitle>         
    </mat-card-header>

    <mat-card-content>
        <h3>2.1 Number of Players</h3>
        <p>
            Games have a minimum of 12 players and maximum of 20 players. <br>
            Number of players will determine lengths of the various <span>Game Stages</span>, defined later in section <span>3.1</span>.
            The creator of the Game will be known as the Game <span>Admin</span>.
        </p>
        <h3>2.2 Prizes</h3>
        <p>
            Up to the <span>Admin</span> and agreed upon by all participants. <br>
            Typically, we suggest having a monetary buy-in amount and dividing the total prize pool as follows:
        </p>
        <ul>
            <li>3rd Place: Buy-in amount</li>
            <li>2nd Place: 2x buy-in amount</li>
            <li>1st Place: Remainder of prize pool</li>
        </ul>
        <h3>2.3 Discord</h3>
        <p>
            Prior to creating the game, the <span>Admin</span> should create a <span>Discord Server</span> with the following channels:
        </p>
        <ul>
            <li>[Text Channel] Information</li>
            <li>[Text Channel] Tribe 1</li>
            <li>[Text Channel] Tribe 2</li>
            <li>[Voice Channel] General</li>
            <li>[Voice Channel] Tribe 1</li>
            <li>[Voice Channel] Tribe 2</li>
        </ul>
        <p>
            Note that the Tribe channels should only be accessible to players of that tribe.<br>
            The <span>Admin</span> will be required to input the link to the created <span>Discord Server</span> when creating the Game, as to allow players to join the server.
        </p>
    </mat-card-content>
</mat-card>

<mat-card class="primary">
    <mat-card-header>
        <div mat-card-avatar>
            <mat-icon>widgets</mat-icon>
        </div>
        <mat-card-title>3. Game Format</mat-card-title>
        <mat-card-subtitle>Game Stages</mat-card-subtitle>         
    </mat-card-header>

    <mat-card-content>
        <h3>3.1 Game Stages</h3>
        <p>
            Games consist of the following <span>Stages</span>, each comprised of <span>Rounds</span>:
        </p>
        <ul>
            <li>Tribes (including Tribe Swaps)</li>
            <li>Merge</li>
            <li>Final 4 Round</li>
            <li>Final 3 Round</li>
        </ul>
        <br>
        <p>
            The length of each game stage is as follows:
        </p>
        <ul>
            <li>
                If 18-20 players:
                <ul>
                    <li>Games start with players divided into 2 <span>Tribes</span></li>
                    <li><span>Tribe Swap #1</span> when there are 15 players remaining</li>
                    <li><span>Tribe Swap #2</span> when there are 12 players remaining</li>
                    <li><span>Merge</span> into one joint tribe when one tribe drops to 4 players</li>
                    <li><span>Final 4 Round</span> will begin once there are 4 players remaining</li>
                    <li><span>Final 3 Finale Round</span> will begin once the 4th place person is eliminated</li>
                </ul>
            </li>
            <li>
                If 14-17 players:
                <ul>
                    <li>Games start with players divided into 2 <span>Tribes</span></li>
                    <li><span>Tribe Swap</span> when there are 12 players remaining</li>
                    <li><span>Merge</span> into one joint tribe when one tribe drops to 4 players</li>
                    <li><span>Final 4 Round</span>  will begin once there are 4 players remaining</li>
                    <li><span>Final 3 Finale Round</span> will begin once the 4th place person is eliminated</li>
                </ul>
            </li>
            <li>
                If 12-13 players:
                <ul>
                    <li>Games start with players divided into 2 <span>Tribes</span></li>
                    <li><span>Merge</span> into one joint tribe when one tribe drops to 4 players</li>
                    <li><span>Final 4 Round</span>  will begin once there are 4 players remaining</li>
                    <li><span>Final 3 Finale Round</span> will begin once the 4th place person is eliminated</li>
                </ul>
            </li>
        </ul>
        <h3>3.2 Tribes</h3>
        <p>
            The initial player pool will be randomly divided into two <span>Tribes</span>. <br>
            In the case of an odd number of players, one <span>Tribe</span> will have an additional player. <br>
            <span>Tribes</span> will compete against each other in <span>Rounds</span>, as described in section <span>3.7</span>.
            The losing <span>Tribe</span> will then go to <span>Tribal Council</span> (<span>4.2</span>) to vote on one player to eliminate from the Game.
        </p>
        <h3>3.3 Tribe Swaps</h3>
        <p>
            When a <span>Tribe Swap</span> occurs, <span>Tribes</span> will be randomly shuffled to produce two new <span>Tribes</span>.
        </p>
        <h3>3.4 Merge</h3>
        <p>
            When the <span>Merge</span> occurs, all players will be combined into one single <span>Tribe</span>.
        </p>
        <h3>3.5 Final 4 Round</h3>
        <p>
            When there are 4 players remaining, there will be a special <span>Final 4 Challenge</span> between the remaining players.<br>
            The <span>Winner</span> of the <span>Final 4 Challenge</span> will win <span>Immunity</span> and a guaranteed spot in the <span>Final 3 Finale Round</span>.<br>
            The <span>Winner</span> will select one other person among the <span>Final 4</span> to join them in the <span>Final 3 Finale Round</span>.
            The remaining two players will compete in the <span>Tower Challenge</span> (best of 3) to determine who will join the previous 2 players in the <span>Final 3 Finale Round</span>.<br><br>
            NOTE: It is possible for the <span>Winner</span> to choose 2 players among the <span>Final 4</span> to be in the <span>Final 3 Finale Round</span> and participate in the <span>Tower Challenge</span> themselves. 
        </p>
        <h3>3.6 Final 3 Round</h3>
        <p>
            To determine the winner, in the <span>Final 3 Finale Round</span>, there will be no Challenge. Instead, eliminated players will form the <span>Jury</span> and vote on who they think the Game winner is. <br>
            The <span>Final 3</span> players will have an equal amount of time (i.e 2 minutes) to plead their case to the <span>Jury</span>, followed by a <span>Jury Questioning Period</span> where anyone in the <span>Jury</span> 
            can ask any or all of the <span>Final 3</span> any question they desire. Once there are no further questions, the <span>Jury</span> will vote for a 1st place winner and 2nd place winner. The player with the highest number of 1st 
            place votes is the <span>Game Winner</span>, and in the case of a tie, the number of 2nd place votes will be taken into account.
        </p>
    </mat-card-content>
</mat-card>

<mat-card class="secondary">
    <mat-card-header>
        <div mat-card-avatar>
            <mat-icon>stream</mat-icon>
        </div>
        <mat-card-title>4. Rounds</mat-card-title>
        <mat-card-subtitle>Tribal Council, Challenges, Voting Rules, Scheduling</mat-card-subtitle>         
    </mat-card-header>

    <mat-card-content>
        <h3>4.1 What is a Round?</h3>
        <p>
            The Game is played thorugh numbered <span>Rounds</span>, which consist of:
        </p>
        <ul>
            <li>Tribal Council</li>
            <li>Challenge</li>
            <li>Idol Drop</li>
        </ul>
        <p>
            Between <span>Rounds</span>, players are encouraged to communicate between other players to strategize.
        </p>
        <h3>4.3 Tribal Council</h3>
        <p>
            During <span>Tribal Council</span>, the associated <span>Players</span> will each cast 1 vote on which player they wish to eliminate from the Game.<br>
            Prior to voting, <span>Players</span> will all discuss and reflect upon the Game thus far, with topics including but not limited to:
        </p>
        <ul>
            <li>Past Challenges</li>
            <li>Last Round's Challenge</li>
            <li>Relationships and Alliances</li>
            <li>Idols in the Game</li>
            <li>The Other Tribe</li>
            <li>How this Tribal Council Impacts the Game</li>
            <li>Your Game Thus Far</li>
        </ul>
        <h3>4.4 Voting Rules</h3>
        <ul>
            <li>Players may only vote for 1 player to eliminate</li>
            <li>Players with <span>Immunity Idols</span> may announce if they wish to use one AFTER all votes are cast, but before voting results are revealed</li>
            <li>If a player is voted out, they will join the Jury and will vote for the final winner among the final 3 during the <span>Final 3 Round</span></li>
            <li>In the case of a <span>Tie</span>, another vote will be conducted where players may only vote between those involved in the <span>Tie</span></li>
            <li>If there is still a <span>Tie</span>, those not among the players NOT being voted upon in the <span>Tie</span> must discuss and UNANIMOUSLY decide on who to eliminate among those <span>Tied Players</span></li>
            <li>If no unanimous conclusion is met, the <span>Tied Players</span> are granted <span>Immunity</span>, players during the vote who had <span>Immunity</span> still retain that status, and all other players will be placed in a 
            pool where one random player will be selected to be eliminated</li>
        </ul>
        <h3>4.5 Challenges</h3>
        <p>
            <span>Challenges</span> will be randomly drawn from a pool and can be played virtually or in real-life. The winning <span>Tribe</span> or <span>Player</span> will be granted
            <span>Immunity</span> and will not be able to be voted out during the following <span>Tribal Council</span>.
        </p>
        <h3>4.6 Idol Drop</h3>
        <p>
            To conclude <span>Rounds</span>, each player will be given an opportunity to select a random number between 1-12 (inclusive). A number in that range will be randomly chosen and all players who predicted correctly will
            be granted 1 <span>Imminity Idol</span>. <br>
            <span>Imminity Idols</span> may be played during a <span>Tribal Council</span> (see section <span>4.4</span>) or given to another player between <span>Rounds</span>.
        </p>
        <h3>4.7 Round #1</h3>
        <p>
            As this will initiate the Game, there will be no <span>Tribal Council</span> during <span>Round #1</span>. <br>
            During this Round, players will be split into two <span>Tribes</span>.
            Therefore, instead of playing <span>Challenges</span> for <span>Immunity</span>, the <span>Tribes</span> will be playing for one <span>Immunity Idol</span>. <br>
            The <span>Immunity Idol</span> will be given to any 1 player that the winning <span>Tribe</span> decides. <br>
            The first <span>Challenge</span> will then be played, with the winning <span>Tribe</span> winning <span>Immunity</span> and the losing <span>Tribe</span> attending 
            <span>Tribal Council</span> to begin <span>Round #2</span>.
        </p>
        <h3>4.8 Round Scheduling</h3>
        <p>
            The Game <span>Admin</span> is in charge of scheduling <span>Rounds</span>. If there is no date that fits everyone's schedules, the <span>Admin</span> will have to make a decision
            on how to proceed with the next <span>Round</span>.
        </p>
    </mat-card-content>
</mat-card>

<mat-card class="primary">
    <mat-card-header>
        <div mat-card-avatar>
            <mat-icon>help</mat-icon>
        </div>
        <mat-card-title>5. Suggestions and FAQs</mat-card-title>
        <mat-card-subtitle>Final notes</mat-card-subtitle>         
    </mat-card-header>

    <mat-card-content>
        <h3>5.1 How should I communicate to other players?</h3>
        <p>
            For communication between <span>Tribes</span>, we recommend using the corresponding channels located in your Game's official <span>Discord Server</span>. 
            For individual or alliance communications, the Game page on the web application provides each player's Discord username.
        </p>
        <h3>5.2 What do I do after I've been eliminated?</h3>
        <p>
            You can still join <span>Rounds</span>, though you cannot participate in <span>Challenges</span>. The next time you will have an impact on the Game will be during the 
            <span>Final 3 Finale Round</span> in which you will be a part of the <span>Jury</span>.
        </p>
        <h3>5.3 Game Integrity</h3>
        <p>
            Although the final decision is made by the <span>Admin</span>, for the sake of game integrity, we strongly encourage the following:
        </p>
        <span>
            <ul>
                <li>NO BRIBING OR AGREEMENTS INVOLVING GAME PRIZE MONEY</li>
                <li>NO SENDING SCREENSHOTS OF ANY CHATS OR MESSAGES BETWEEN PLAYERS</li>
                <li>NO FORGING SCREENSHOTS OR MESSAGES BETWEEN PLAYERS</li>
            </ul>
        </span>
        <h3>5.4 What do I do if I need help/clarification about the game?</h3>
        <p>
            Contact one of the Game Designers: <span>Joseph [Joseph#2844]</span>, <span>Thomas [Spyral#9645]</span>, or <span>Isaac [IZeke#2190]</span>.
        </p>
        <h3>5.5 What do I do if I think I ran into a bug on the site?</h3>
        <p>
            Contact one of the Game Developers: <span>Thomas [Spyral#9645]</span> or <span>JJ [Sir Cartier#8906]</span>.
        </p>
        <h3>5.6 Don't Take Things Personally!</h3>
        <p>
            Remember that this game involves backstabbing and scheming, but at the end of the day, this is all FOR FUN. Back stabbing is a part of the game, do don't get too hurt when it happens.
        </p>
    </mat-card-content>
</mat-card>