<mat-card>
    <mat-card-header>
        <div mat-card-avatar>
            <img [src]="avatar"/>
        </div>
        <mat-card-title>{{name}}</mat-card-title>
        <mat-card-subtitle>{{username}}</mat-card-subtitle>         
    </mat-card-header>

    <mat-card-content>
        <h3>Discord:</h3>
        <p>{{discord}}</p>
        <h3>Bio:</h3>
        <p>{{bio}}</p>
    </mat-card-content>

    <!-- no actions needed for this card
    <mat-card-actions>
    </mat-card-actions> 
    -->
</mat-card>